.btn-secondary {
  color: white !important;
  border-color: #1e9ab7;
  background-color: #1e9ab7;
}

.no-user-found-img {
  width: 30%;
  height: 30%;
}

// .text-right {
//   text-align: right !important;
//   margin-top: -31px;
// }

// @media (max-width: 500px) {
//   .btn-info.btn-raised {
//     margin-bottom: 1rem;
//     margin-top: 40px !important;
//   }
// }

// @media (max-width: 778px) {
//   .dropdown-menu {
//     top: -40px !important;
//     left: -152px !important;
//   }
// }

// @media (max-width: 757px) {
//   .dropdown-menu {
//     left: -130px !important;
//     min-width: 6rem !important;
//     padding-top: 3px;
//     padding-bottom: 3px;
//   }
// }

// .btn-secondary:hover {
//   color: white !important;
//   border-color: #1e9ab7;
//   background-color: #1e9ab7;
// }

// .btn-secondary:not(:disabled):not(.disabled):active,
// .btn-secondary:not(:disabled):not(.disabled).active,
// .show > .btn-secondary.dropdown-toggle {
//   color: white !important;
//   border-color: #1e9ab7;
//   background-color: #1e9ab7;
// }

// ::ng-deep .activeItem.active,
// .activeItem:active {
//   background-color: #f8f9fa !important;
// }

// .enabledIcon {
//   color: #009da0;
//   font-size: 1.3rem;
// }

// .disabledIcon {
//   color: #85c5d4 !important;
//   font-size: 1.3rem;
// }
