<div class="form-group row" [formGroup]="formGroup">
  <label class="col-md-3 label-control" [for]="name">
    {{ label }}
    <span class="required-input" *ngIf="isRequired()">*</span>
  </label>
  <div class="col-md-9">
    <ui-switch
      [formControlName]="name"
      [id]="name"
      [ngClass]="{
        'is-invalid': isSubmitted && getErrors()
      }"
      [disabled]="isDisabled"
      (ngModelChange)="onValueChange($event)"
    ></ui-switch>
    <app-validatio-form
      [isSubmitted]="isSubmitted"
      [formControlValue]="formControlValue"
    >
    </app-validatio-form>
  </div>
</div>
