/* You can add global styles to this file, and also import other style files */

.required-input {
    color: #ff586b;
}

.error-input,
::ng-deep .error-ng-select .ng-select-container {
    border-color: #ff586b;
    outline: 0;
    &:focus,
    &:active {
        box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
    }
}

@import '../node_modules/angular-archwizard/archwizard.css';